@use "../../styles/util" as u;

.cart-item {
  height: u.rem(80);

  img {
    width: 30%;
    max-height: u.rem(60);
  }

  &__details {
    width: 70%;
    padding: 10px 20px;

    &__name {
      font-size: u.rem(16);
    }
  }
}
