@use "../../styles/util" as u;

@mixin shrinkLabel {
  top: u.rem(-17);
  font-size: u.rem(12);
  color: u.$whiteColor;
}

.form-input {
  background: none;
  background-color: u.$blackColor;
  color: u.$whiteColor;
  font-size: u.rem(18);
  display: block;
  border: none;
  border-radius: u.rem(4);
  border-bottom: u.rem(0.5) solid u.$whiteColor;

  &:focus {
    outline: none;
  }

  &:focus ~ .form-input-label {
    // ~ this is the subsequent selector so the label should be positioned after the input element
    @include shrinkLabel();
  }
}

input[type="password"] {
  letter-spacing: 0.3em;
}

.form-input-label {
  color: u.$whiteColor;
  font-size: u.rem(16);
  font-weight: normal;
  pointer-events: none;
  left: u.rem(5);
  top: u.rem(14);
  transition: 300ms ease all;

  &.shrink {
    @include shrinkLabel();
  }
}
